<header class="header">
    <nav class="header__nav">
        <h1 class="header__nav__title">
            <img src="/images/logo-opt.svg" alt="SQL Board logo" class="header__nav__logo">
        </h1>
        <ul class="header__nav__list">
            <li class="header__nav__list-item">
                <a href="/" class="header__nav__link">General</a>
            </li>
            <li class="header__nav__list-item">
                <a href="/gaming" class="header__nav__link">Gaming</a>
            </li>
            <li class="header__nav__list-item">
                <a href="/sports" class="header__nav__link">Sports</a>
            </li>
            <li class="header__nav__list-item">
                <a href="/fashion" class="header__nav__link">Fashion</a>
            </li>
        </ul>
    </nav>
</header>