<header class="header">
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__list-item">
                <a href="/" class="header__nav__link">Home</a>
            </li>
            <li class="header__nav__list-item">
                <a href="/new-message" class="header__nav__link">New Message</a>
            </li>
        </ul>
    </nav>
</header>