* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
input,
label,
button,
body {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem;
    background-color: #eee;
}

.header__nav__list {
    display: flex;
    gap: 1.75rem;
    list-style: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__title {
    font-size: .875rem;
}