* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-indigo: #242b45;
}

h1,
h2,
h3,
input,
label,
button,
body {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 3fr 12fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Center column */
.header,
.main {
    grid-column: 2 / 3;
}

.header {
    padding-top: 2rem;
    padding-bottom: 14rem;
    background-color: var(--dark-indigo);
}

.header__nav__title {
    margin-bottom: 2rem;
}

.header__nav__list {
    display: flex;
    gap: 1.75rem;
    list-style: none;
}

.header__nav__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.form__group__label,
.form__group__textarea {
    display: block;
}

.form__group__textarea {
    max-width: 40rem;
    width: 100%;
}

.footer {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__title {
    font-size: .875rem;
}