* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-indigo: #242b45;
    --light-grey-blue: #f7f9fd;
    --med-grey-blue: #697689;
    --form-width: 55rem;
}

h1,
h2,
h3,
label,
input,
textarea,
button,
body {
    font-family: "Nunito", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 3fr 12fr 3fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    padding: 10rem 0;
    background-color: var(--dark-indigo);
}

/* Center column */
.header,
.main {
    grid-column: 2 / 3;
}

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__nav__title {
    margin-bottom: 2rem;
}

.header__nav__list {
    display: flex;
    gap: 1.75rem;
    list-style: none;
}

.header__nav__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.main__form {
    max-width: var(--form-width);
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 50px 12px -30px hsla(228 70% 54% / .15);
}

.form__group__label,
.form__group__textarea {
    display: block;
}

.main__form,
.form__group__textarea {
    border-radius: 10px;
}

.form__group__label {
    margin-bottom: .75rem;
}

.form__group__textarea {
    max-width: var(--form-width);
    width: 100%;
    padding: 1rem;
    line-height: 1.6;

    font-size: 1rem;
    border: none;
    background-color: var(--light-grey-blue);
}

.footer {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__title {
    font-size: .875rem;
    color: var(--med-grey-blue);
}